.App {
  text-align: center;
  height: 100%; /* Ensure App takes full height of viewport */
}

.home-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3.5rem);
  padding-bottom: 3.5rem;
  overflow: hidden;
  position: relative;
}

.home-container video {
  opacity: 0.5;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.floating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  z-index: 1;
}

.title {
  font-size: 61px;
  font-weight: bold;
  color: #fff;
  line-height: 108px;
}

.home-search-form {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.home-search-bar {
  width: 100%;
  display: flex;
  border: 0;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 8px 12px;
  font-family: "Roboto", sans-serif, monospace;
}

.home-search-bar:focus {
  outline: none;
}

.home-search-button {
  z-index: 1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  color: #fff;
  padding-inline: 0.75rem;
  background-color: #5383e8;
}

.home-search-button:hover {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
