.p-bold {
  font-weight: 700;
}

.p-hl-red {
  color: #e84057;
}

.p-hl-blue {
  color: #5383e8;
}

.p-hl-gray {
  color: #aaa;
}

.w-100 {
  width: 100%;
}

.divider {
  margin: 0.5rem 0;
  width: 2.75rem;
  border-top: 1px solid #444;
}

.match-container {
  width: 550px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  margin: 1rem;
  overflow: hidden;
}

.match-container-open {
  height: 400px;
}

.match-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.2rem 0.65rem;
}

.match-score-container {
  width: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 0rem;
  align-items: center;
  gap: 0.5rem;
  margin-inline: 0.5rem;
}

.match-score {
  font-size: 15px;
  font-weight: bold;
}

.team-grid {
  margin-left: 0.6rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.col {
  display: flex;
  flex-direction: column;
}

.match-server {
  display: flex;
  flex-direction: column;
  min-width: 100px;
}

.server-flag {
  height: 25px;
  width: 100%;
  margin: 0.1rem 0 0.25rem 0;
}

.user {
  text-decoration: none;
}

.user-hl {
  font-weight: bold;
  text-decoration: none;
  color: #ccc;
}

.match-server-container {
  width: 6rem;
  text-align: center;
}

.server-label {
  margin: 0.5rem;
}

.mvp {
  color: white;
  background-color: #fa0;
  padding-inline: 0.5rem;
  line-height: 20px;
  border-radius: 10px;
}

@media only screen and (max-width: 580px) {
  .match-container {
    width: 430px;
  }

  .match-server-container {
    display: none;
  }
}
